{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <p>
    Welcome to the experiment on decision making.<br>
<p><strong>Introduction&nbsp;</strong></p>
<p><span style="font-weight: 400;">This is an experiment in decision-making, in which you can earn money. The amount you earn will depend on your decisions and the decisions of others. This money has been provided by a research organization.&nbsp;</span></p>
<p><strong>Rules of Conduct&nbsp;</strong></p>
<p><span style="font-weight: 400;">The results from this experiment will be used in a research project. It is therefore very important that everyone who participates in the experiment follows certain rules of conduct. All mobile phones must be turned off, and you are not permitted to access any internet sites other than the one for this experiment. You are not allowed to talk with any of the other participants during the experiment. If you have questions or need help with the computer, please raise your hand and the experimenter will approach you and assist you privately.&nbsp;</span></p>
<p><strong>Groups&nbsp;</strong></p>
<p><span style="font-weight: 400;">In this experiment you have been randomly assigned to a group of ten people. Each group of ten will remain together throughout the experiment.&nbsp;</span></p>
<p><strong>Rounds&nbsp;</strong></p>
<p><span style="font-weight: 400;">The experiment will consist of 25 rounds and in each of these rounds you will earn money. How much depends on the choices you and the others in your group make. In each round you will be shortly reminded of the rules and then asked to make a decision described later. Once every member of the group has made the decision, you will be redirected to the results page when you can examine the behaviour of others in your group. The same process is repeated 25 times.</span></p>
<p><strong>Endowments&nbsp;</strong></p>
<p><span style="font-weight: 400;">At the beginning of each round, each of you will receive ten &ldquo;tokens&rdquo; each worth around 0.45 DKK , which we will call your &ldquo;endowment.&rdquo;</span></p>
<p><strong>Decision&nbsp;</strong></p>
<p><span style="font-weight: 400;">In each round, you may choose to keep your endowment or to contribute some or all of it to a group project. You may contribute any amount from zero up to your entire endowment. Any contributions to the group project will be doubled by the experimenters and shared equally by all members of the group.&nbsp;</span></p>
<p><span style="font-weight: 400;">You will be asked to post a contribution in each period. You will have three minutes to enter your contribution. You may enter any contribution from zero up to the amount of your income for the entire period. Contributions in excess of your income will not be accepted. You may contribute part tokens, e.g. 4.5 tokens.&nbsp;</span></p>
<p><span style="font-weight: 400;">If the sum of the contributions of the persons in your group meets or exceeds the threshold level of 25 tokens, you will </span><strong>each </strong><span style="font-weight: 400;">receive </span><strong>an additional 5 tokens</strong><span style="font-weight: 400;">. Your total income for the period will be your initial income, plus the additional tokens, minus your contribution. This is called a distribution rule &ldquo;equal share of the bonus&rdquo;.</span></p>
<p><span style="font-weight: 400;">If the sum of the contributions is less than the threshold level the additional tokens will not be provided. In this event, your total income for the period will simply be your original income, minus your contribution.</span></p>
<p><strong>Earnings&nbsp;</strong></p>
<p><span style="font-weight: 400;">In order for the group project to be implemented, the total contributions proposed by members of the group in that round must be at least 25 tokens. That is, if the sum of contributions proposed by a group is greater than or equal to 25 tokens in a given round, the group project will be implemented in that round, and earnings will be calculated as explained above.&nbsp;</span></p>
<p><span style="font-weight: 400;">If, however, the sum of proposed contributions is less than 25 tokens in a given round, the group project will not be implemented in that round. In that case, your proposed contribution is deducted from your endowment, so each member keeps his or her original endowment minus her contribution.</span></p>
<p><span style="font-weight: 400;">In summary, if total contributions in your group equal 25 tokens or more and you have contributed X, your earnings from this round will be: </span><em><span style="font-weight: 400;">&nbsp;</span></em><em><span style="font-weight: 400;">Your earnings = your endowment (10 tokens)&nbsp; &ndash; your contribution(X) + additional tokens (5)&nbsp;</span></em></p>
<p><span style="font-weight: 400;">If, on the other hand, total contributions in your group equal less than 25 tokens and you have contributed X, your earnings will be:&nbsp; </span><em><span style="font-weight: 400;">Your earnings = your endowment (10 tokens) &ndash; your contribution (X)</span></em></p>
<p><span style="font-weight: 400;">Your total earnings consist of the sum of your earnings from the 25 paid rounds.&nbsp;</span></p>
<p><span style="font-weight: 400;">Remember that each token is worth approximately 0.5 DKK.</span></p>
<p>&nbsp;</p>

<hr> </hr>

<p><b>Do you fully understand the instructions?</b></p>
<div>
    <button name="rule" value="True" class="btn btn-primary btn-large">Yes</button>
    <button name="rule" value="False" class="btn btn-primary btn-large">No</button>
</div>




<hr> </hr>
    <p> <i>Help: If you have any questions, please raise your hand.</i></p>

{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            setTimeout(function () {
                $('.btn.btn-primary.btn-large').show();
            }, 5 * 1000);

        });
    </script>
{% endblock %}



{% block styles %}

    <style>
        {% if form.errors %}
            .btn.btn-primary.btn-large {
                display: none;
            }
        {% endif %}
    </style>

{% endblock %}