{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Total Earnings
{% endblock %}

{% block content %}

    <h4>Randomly selected rounds and Total Earnings</h4>

<hr> </hr>


<p> Your cumulative payoff in <b> 25 rounds </b> was: <b>{{ player.earnings_phase1 }}(tokens) </b><br>

    </p>

    <p>
        1 point (token) = {{ Constants.euro_per_point }} DKK.<br>
        Your total earnings are: <b>{{ player.paid }} DKK</b>.
    </p>

    <p> Please remain seated while we ask you to continue filling out the survey from before.</p>



<hr> </hr>
    <p> <i>Help: If you have any questions, please raise your hand.</i></p>
{% endblock %}