{% extends "otree/MTurkPreview.html" %}
{% load otree %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}
    <p>
        This HIT is an academic experiment on decision making.
    </p>

    <p>
      <p>
        The purpose of this study is social decision-making, and specifically how people make and judge the
        decisions and values of others. <strong>In this study, you will interact with another participant from mTurk.
        Your identity and that of the other participant will always remain anonymous.</strong>
      </p>
      <p>
        Because you will interact with another person on mTurk, please be mindful of them and complete all tasks in a timely fashion.
        Please only accept ths HIT only if you can commit to completing it.
        This study will be conducted through this online application. The study should take you approximately
        20 minutes to complete.
      </p>
      <br>
      <h5>Important: This study does not run in Internet Explorer!</h5>
      <p>Please do not accept this HIT if you can only work in internet explorer.</p>
      <br>
      <hr>
      <h5>Payoff</h5>
      <p>
        <strong>Your overall performance in this study will determine your overall pay</strong>! <br>
        However, the <strong>minimum payment</strong> for this study is <strong>$2.75</strong>. <br> <br>
        You will start with a base payment of $0.50, just for completing the study.
        Above that, you will earn additional compensation by gaining points. These points will be earned by you interacting and making decisions with a second person from MTurk.
        <strong>The decisions you and your co-player make will affect your payment!</strong> <br> <br>
        At the end of the study, all points you earned will get converted into USD in <strong>a ratio of 20 : 1</strong> (1 point equals $0.05).<br>
        For example, if you earned 50 points at the end of the experiment, you will receive a $2.50 bonus payment.
        There are no costs to you associated with your participation.
      </p>
      <br>
      <hr>
      <h5>Data Privacy and Confidentiality</h5>
      <p>
        This Principal Investigator will exert all reasonable efforts to keep your responses and your identity confidential.
        <strong>We may have access to, and may maintain in our data collection, your worker ID or user ID for the
          internet survey platform that you use. However, aside from your worker ID or user ID, we will not maintain
          within our research data any information that uniquely identifies you, such as your name, location, or
          Internet Protocol (IP) address.</strong>
      </p>
      <p>
        In any report we publish, we will not include any information that will make it possible to identify a participant. Data collected from
        the experiment will be coded to remove your name or any other personal identifiers. All records will be
        secured in a locked cabinet in our lab. Access to the records will be limited to the researchers; however,
        please note that regulatory agencies and the Institutional Review Board and internal Boston College
        auditors may review the research records. Please note that regulatory agencies, the Boston College
        Institutional Review Board, and Boston College internal auditors may review research records. <strong>Please
          also note the organization that operates your Internet survey platform may retain your responses
          and, additionally, may maintain a link identifying you as the source of those responses. Your
          user agreement with the survey platform organization may address this topic.</strong>
    </p>
    <p>
        After completing this HIT, you will receive your reward plus a bonus payment
        that is based on how you play the experiment.
    </p>

{% endblock %}
